<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/FreeCRMApplication">
        <classes>
            <class name="com.freecrm.testcases.LoginPageTest"/>
            <class name="com.freecrm.testcases.HomePage"/>
            <class name="com.freecrm.testcases.ContactPageTest"/>
        </classes>
    </test>
</suite>